In [3]:
df <- read.csv( "../movies2/rice.csv")
df2 <- read.csv( "../movies2/First_Price.csv")
df3 <- read.csv( "../movies2/MLData.csv")
df4 <- read.csv( "../movies2/mainData.csv")

In [12]:
head(df,4)

  cluster 감독_배우시너지 스크린점유율 감독점수 장르_관객점수부여 배우점수
1 1       3               23.79760     3.000000 10                4.000000
2 1       8               48.26242     2.000000 10                8.250000
3 1       0               36.90476     2.333333 10                4.000000
4 1       3               35.27944     3.571429 10                6.777778
  배급사점수
1 1
2 1
3 1
4 1

In [14]:
head(df2,4)

  영화명                누적매출액  누적관객수 스크린수 상영횟수 개봉일
1 7급 공무원            26380710000 4039891     475      90779   2009-04-22
2 82년생 김지영         30298542310 3678156    1486     145441   2019-10-23
3 감기                  21774884000 3117859     806      55046   2013-08-14
4 강철중: 공공의 적 1-1 28638460100 4313101     707      74157   2008-06-19
  배급사               등급           장르                    감독   ...
1 (주)롯데엔터테인먼트 12세이상관람가 코미디,액션,드라마,범죄 신태라 ...
2 (주)롯데엔터테인먼트 12세이상관람가 드라마                  김도영 ...
3 아이러브시네마       15세이상관람가 드라마,어드벤처,액션    김성수 ...
4 CJ ENM               15세이상관람가 드라마,액션             강우석 ...
  배우누적점수 배우점수 감독점수 장르_관객점수부여 휴일 X12세이상관람가
1  6.50000     4.000000 3.000000 10                9     TRUE
2 14.75000     8.250000 2.000000 10                8     TRUE
3 10.50000     4.000000 2.333333 10                8    FALSE
4 10.63492     6.777778 3.571429 10                9    FALSE
  X15세이상관람가 전체관람가 청소년관람불가 배급사점수
1 FALSE           FALSE      FALSE          2
2 FALSE           FALSE      FALSE          2
3  TRUE           FALSE      FALSE          1
4  TRUE           FALSE      FALSE          3

In [15]:
head(df3,4)

  cluster 감독_배우시너지 스크린점유율 감독점수 장르_관객점수부여 휴일
1 1       3               23.79760     3.000000 10                9
2 1       8               48.26242     2.000000 10                8
3 1       0               36.90476     2.333333 10                8
4 1       3               35.27944     3.571429 10                9
  X12세이상관람가 X15세이상관람가 전체관람가 청소년관람불가 배우점수 누적관객수
1  TRUE           FALSE           FALSE      FALSE          4.000000 4039891
2  TRUE           FALSE           FALSE      FALSE          8.250000 3678156
3 FALSE            TRUE           FALSE      FALSE          4.000000 3117859
4 FALSE            TRUE           FALSE      FALSE          6.777778 4313101

In [9]:
head(df4,1)

  영화명     누적매출액  누적관객수 스크린수 상영횟수 개봉일
1 7급 공무원 26380710000 4039891    475      90779    2009-04-22
  배급사                     등급           장르                    감독   ...
1 롯데쇼핑㈜롯데엔터테인먼트 12세이상관람가 코미디,액션,드라마,범죄 신태라 ...
  스크린점유율 배우누적점수 배우점수 감독점수 장르_관객점수부여 휴일
1 23.7976      6.5          4        3        10                9
  X12세이상관람가 X15세이상관람가 전체관람가 청소년관람불가
1 TRUE            FALSE           FALSE      FALSE

In [10]:
str(df4)

'data.frame':	108 obs. of  27 variables:
 $ 영화명              : Factor w/ 108 levels "1987","7급 공무원",..: 2 3 5 8 9 10 14 20 23 24 ...
 $ 누적매출액          : num  2.64e+10 3.03e+10 2.18e+10 2.86e+10 2.06e+10 ...
 $ 누적관객수          : int  4039891 3678156 3117859 4313101 3024666 4111237 3134421 3755233 3587182 3420172 ...
 $ 스크린수            : int  475 1486 806 707 432 593 299 1180 876 956 ...
 $ 상영횟수            : int  90779 145441 55046 74157 69946 106069 40642 101077 90288 95437 ...
 $ 개봉일              : Factor w/ 103 levels "2005-01-27","2005-07-29",..: 19 102 51 14 20 38 1 96 70 88 ...
 $ 배급사              : Factor w/ 17 levels "(주)넥스트엔터테인먼트월드(NEW)",..: 8 11 13 17 2 8 3 16 7 16 ...
 $ 등급                : Factor w/ 7 levels "12세관람가","12세이상관람가",..: 2 2 4 4 4 2 3 2 4 2 ...
 $ 장르                : Factor w/ 50 levels "공포(호러),멜로/로맨스,코미디",..: 49 3 8 5 6 11 3 3 3 44 ...
 $ 감독                : Factor w/ 79 levels "강대규","강우석",..: 34 7 11 2 47 48 2 72 70 74 ...
 $ 주연                : Factor w/ 108 levels "강동원,김윤석,임수정,유해진",..: 25 74 71 39 20 53 40 26 2 62 ...
 $ 제작사              : Factor w/ 92 levels "(유)내부자들 문화전문회사",..: 73 15 81 27 32 11 24 82 88 61 ...
 $ 조연                : Factor w/ 108 levels ",강성필,최윤영,한효주,박용기,임세호,박용식,이기열,전창걸",..: 35 10 66 2 22 94 3 29 61 37 ...
 $ cluster             : int  1 1 1 1 1 1 1 1 1 1 ...
 $ 감독_배우시너지     : int  3 8 0 3 0 6 1 5 7 4 ...
 $ 감독_배우악연       : int  0 0 0 1 0 0 2 0 0 0 ...
 $ 상영횟수당누적관객수: num  44.5 25.3 56.6 58.2 43.2 ...
 $ 스크린점유율        : num  23.8 48.3 36.9 35.3 21.6 ...
 $ 배우누적점수        : num  6.5 14.8 10.5 10.6 17.7 ...
 $ 배우점수            : num  4 8.25 4 6.78 7.67 ...
 $ 감독점수            : num  3 2 2.33 3.57 3.5 ...
 $ 장르_관객점수부여   : int  10 10 10 10 10 20 10 10 10 10 ...
 $ 휴일                : int  9 8 8 9 9 10 12 9 9 9 ...
 $ X12세이상관람가     : logi  TRUE TRUE FALSE FALSE FALSE TRUE ...
 $ X15세이상관람가     : logi  FALSE FALSE TRUE TRUE TRUE FALSE ...
 $ 전체관람가          : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ 청소년관람불가      : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...