In [1]:
df <- read.csv("../movies/movie109_ver1.csv",fileEncoding = "utf-8")

Warning message in file(file, "rt", encoding = fileEncoding):
“파일 '../movies/movie109_ver1.csv'를 여는데 실패했습니다: No such file or directory”

ERROR: Error in file(file, "rt", encoding = fileEncoding): 커넥션을 열 수 없습니다

In [ ]:
library(dplyr)

In [ ]:
df <- arrange(df , desc(누적관객수))

In [ ]:
head(df)

In [ ]:
str(df)

In [ ]:
df$배우 <- as.character(df$배우)

In [ ]:
ju <- c()

for (i in 1: nrow(df)){
    temp_ju <- unlist(strsplit(df$배우[i],","))
    ju <- c(ju,temp_ju)
}

In [ ]:
ju_df <- data.frame(table(ju))
colnames(ju_df) <- c('주연',"횟수")

In [ ]:
head(ju_df)

In [ ]:
ju_df$점수 = 0
head(ju_df)

In [ ]:
df$배우 <- as.character(df$배우)

In [ ]:
for(i in 1:nrow(df)){
    for( j in 1:nrow(ju_df)){
        if(ju_df[j,1] %in% unlist(strsplit(df$배우[i],","))){
            if(df$cluster[i] == 1){
                ju_df$점수[j] = ju_df$점수[j] + 1
            }else if(df$cluster[i] == 2){
                ju_df$점수[j] = ju_df$점수[j] + 2
            }else{
                ju_df$점수[j] = ju_df$점수[j] + 4
            }
        }
    }
}

In [ ]:
ju_df<- arrange(ju_df,desc(점수))

In [ ]:
head(ju_df,10)

In [ ]:
ju_df$평균점수 = 0

In [ ]:
for( i in 1: nrow(ju_df)){
    ju_df$평균점수[i] <- ju_df$점수[i] / ju_df$횟수[i] 
}

In [ ]:
x<-c()
for( i in 1:nrow(df)){
    if("김윤석" %in% unlist(strsplit(df$배우[i],","))){
         x= c(x,i)
    }
}

In [ ]:
df[x,]

In [ ]:
head(df,1)

In [ ]:
"하정우" %in% unlist(substr(df$배우,","))

In [ ]:
arrange(ju_df,desc(점수))

In [ ]:
arrange(subset(ju_df, 횟수 >=5),desc(평균점수))

In [ ]:
temp_ju_df<-arrange(subset(ju_df, 횟수 >=3),desc(평균점수))

In [ ]:
shapiro.test(temp_ju_df[,4])

In [ ]:
hist(temp_ju_df[,4])

In [ ]:
barplot(table(temp_ju_df[,4]))

In [ ]:
x<-c()
for( i in 1:nrow(df)){
    if("성동일" %in% unlist(strsplit(df$배우[i],","))){
           x<-c(x,i)
    }
}

In [ ]:
df[x,]

In [ ]:
"오달수" %in% unlist(strsplit(df$배우[1],","))

In [ ]:
str(df)

In [ ]:
arrange(subset(df,cluster == 3),desc(누적관객수))

In [ ]:
(4313101 +4452850 )/2

In [ ]:
4382976